<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.colormaster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lesson_Menu_Activity" />
        <activity android:name=".login_activity" />
        <activity android:name=".user_profile_activity" />
        <activity android:name=".activity_profile_manager" />
        <activity android:name=".progress_report_activity" />
        <activity android:name=".game_session_red" />
        <activity android:name=".game_session_orange" />
        <activity android:name=".game_session_yellow" />
        <activity android:name=".game_session_green" />
        <activity android:name=".game_session_blue" />
        <activity android:name=".Settings_Activity"></activity>
    </application>

</manifest>